body {
  font-family:  Arial, sans-serif;
  background: linear-gradient(to bottom, #ffffff, #f0f0f0);
  color: #555;
  text-align: center;
  margin: 0;
  padding: 0;
}

header {
  background-color: #ebeaea;
  padding: 20px 20px 5px 20px;
}

h2 {
  color: #333;
  font-weight: bold;
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 10px;
}

ul {
  text-align: center;
  display: inline-block;
  font-size: 18px;
  color: #555;
}

.info {
  margin-top: 30px;
  margin-bottom: 50px;
  font-size: 22px;
}

.game {
  width: 270px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 80px;
  height: 110px;
  margin: 5px;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  cursor: pointer;
}

.front {
  background: #4da6ff;
  border: #80c1ff 2px solid;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  backface-visibility: hidden;
}

.back {
  background: #e6f2ff;
  color: #003366;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  font-weight: bold;
}

.card.flip {
  transform: rotateY(180deg);
}

@media (max-width: 400px) {
  .game {
    width: 220px;
  }

  .card {
    width: 60px;
    height: 90px;
    margin: 4px;
  }

  .back {
    font-size: 22px;
  }

  h2 {
    font-size: 24px;
  }

  ul {
    font-size: 16px;
  }

  .info {
    font-size: 20px;
  }
}